{% if user.is_authenticated %}
    {% with user.userrole.role as role %}
        {% if role == "employer" %}
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <h1>Employee dashboard</h1>
            <a href="{% url 'post-job' %}">Post a job</a>
            <div>
                {% for job in jobs %}
                    <a href="{% url 'job-detail' job.id %}">{{ job.title }}</a>
                    <a href="{% url 'delete-job' job.id %}">Delete</a>
                    <br>
                {% empty %}
                    <h1>No jobs posted..</h1>
                {% endfor %}
            </div>
            <a href="{% url 'view-applicants' %}">View Applicants</a>
        {% else %}
            <h1>You are not an employee</h1>    
        {% endif %}
    {% endwith %}
{% endif %}

